<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :title, 'Título', style: "display: block" %>
    <div class="inputbox">
      <%= form.text_field :title %>
    </div>

  <div style="display: none">
    <%= form.hidden_field :description %>
    <%= form.hidden_field :position, type: :hidden  %>
    <%= form.hidden_field :status, type: :hidden, value: false %>
    <%= form.hidden_field :list_id, id: :lists_user_id, type: :hidden, value: @id_lista %>
    <br>
  </div>

  <div class="inputbox input-formulario">
    <%= form.submit 'Enviar', :class => 'w3-bar-item w3-button btn btn-primary botoes_iniciais' %>
  </div>
  </div>
  <br>
<br>
<br>
<% end %>
