


<p style="color: green"><%= notice %></p>

<!-- Photo grid -->
  <div class="w3-row">
    <!-- Colocar as listas -->

    <% @lists.each do |list| %>
        <div class="w3-third" style="border: 1px solid black">
          <%= list.title %>
          <%= link_to "Show this list", list %>
        </div>
    <% end %>

    

<!--
<h1>Lists</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Show this list", list %>
    </p>
  <% end %>
</div>
-->
<br>
<br>

<%= link_to "New list", new_list_path %>
