<p style="color: green"><%= notice %></p>

<div class="w3-row">

<div class="w3-content w3-justify meio">
  <p class="w3-center"><%= @list.title %></p>
</div>

<div class="w3-center w3-content btn-mostrar">
  <%= link_to "Editar", edit_list_path(@list), class:"w3-bar-item w3-button btn btn-primary btn-lado" %>
  <%= button_to "Excluir", @list, class:"w3-bar-item w3-button btn btn-primary btn-lado" %>
</div>

<div class="w3-content w3-justify meio">
  <p class="w3-center">Itens da Lista</p>
</div>

<% if !@items.empty? %>
<table class="table table-sm text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Status</th>
      <th scope="col">Detalhes</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>


<% @items.each do |item| %>
<% cor_aleatoria = @cores.sample %>
<tr style="background-color: <%= cor_aleatoria %> !important">
      <td><h5><%= item.title.to_s %></h5></td>
    
      <td>
        <% if item.status %>
          <i class="material-icons">check_circle</i>
        <% else %>
          <i class="material-icons">clear</i>
        <% end %>
      </td>

      <td><%= link_to "Mostrar", item, class:"btn btn-light" %></td>

      <td>
      <%= link_to "Editar", edit_item_path(item), class:"btn btn-light" %>
      <%#= form_for item do |f| %>
        <%# f.check_box :status, :value => item.status, class:'btn btn-light', style:'bg-color: green;' %>
        <%# f.submit "done" %>
      <%# end %>
      </td>


      
  <%#= render item %>
<% end %>
  </tbody>
</table>

<% end %>

<div class="center w3-content forms-modificados" style="max-width:450px;"  >
  <h1>Adicionar item</h1>
<%# if !@items.nil? %>
  <%= render "form_items", item: @item %>
<%# end %>
</div>
   