<div class="center w3-content forms-modificados" style="max-width:450px;"  >
  <h1>Editar Usuario</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label :email %><br />
  <div class="inputbox"> 
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="inputbox"> Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <div class="inputbox"> 
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

    <%= f.label :password_confirmation %><br />
  <div class="inputbox">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <div class="inputbox">
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="inputbox">
    <%= f.submit 'Enviar', :class => 'w3-bar-item w3-button btn btn-primary botoes_iniciais'%>
  </div>
<% end %>
</div>


<div class="w3-center w3-content" style="max-width:450px;">
  <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"w3-bar-item w3-button btn btn-primary botoes-baixo-form" %> 
  <%= link_to "Voltar", lists_path, class:"w3-bar-item w3-button btn btn-primary botoes-baixo-form" %>
</div>
