<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
  <h3 class="w3-padding-64 w3-center"><b>ToDo<br>List</b></h3>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
  <% if signed_in? %>
    <%= link_to "Listas", lists_path, class:"w3-bar-item w3-button", onclick:"w3_close()" %>
    <%= link_to current_user.email, edit_user_registration_path, class:"w3-bar-item w3-button" , onclick:"w3_close()" %>
    <%= button_to "Sair", destroy_user_session_path, method: :delete, data: { turbo: "false" }, class:"w3-bar-item w3-button" , onclick:"w3_close()" %>

  <% else %>
    <%= link_to "Entrar", new_user_session_path, class:"w3-bar-item w3-button", onclick:"w3_close()" %>
    <%= link_to "Registrar", new_user_registration_path, class:"w3-bar-item w3-button", onclick:"w3_close()" %>
  <% end %>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">SOME NAME</span>
  <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Push down content on small screens --> 
  <div class="w3-hide-large" style="margin-top:83px"></div>


<!--

<% if signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path, class:"w3-bar-item w3-button" %>
  <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" }, class:"w3-bar-item w3-button" %>
  <% else %>
    <%= link_to "Log in", new_user_session_path, class:"w3-bar-item w3-button"%>
    <%= link_to "Register", new_user_registration_path, class:"w3-bar-item w3-button" %>
  <% end %>

-->


