<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :title, style: "display: block", required:"required" %>
    <div class="inputbox">
    <%= form.text_field :title %>
  </div>

<%= form.label :description, style: "display: block" %>
  <div class="inputbox">
    <%= form.text_field :description %>
  </div>

<%= form.label :position, style: "display: block" %>
  <div class="inputbox">
    <%= form.number_field :position %>
  </div>

<%= form.label :status, style: "display: block" %>
  
    <div class="form-check form-switch"> 
        <%= form.check_box :status, class:"form-check-input", id:"flexSwitchCheckDefault" %>
      <label class="form-check-label" for="flexSwitchCheckDefault"></label>
    </div>
  

  

  <%= form.number_field :list_id, id: :items_list_id, type: :hidden, value:item.list_id %>

  <div class="inputbox input-formulario">
    <%= form.submit 'Enviar', :class => 'w3-bar-item w3-button btn btn-primary botoes_iniciais' %>
  </div>
<% end %>
